
<!doctype html>


<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js"><
	<head>
	<!-- <link rel="stylesheet" type="text/css" href="http://atintell.com/wp-content/cache/minify/9b95d.css" media="all" /> -->

		<meta charset="utf-8">

				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		

				<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

				<link rel="apple-touch-icon" href="http://atintell.com/wp-content/themes/appliancetec/library/images/apple-icon-touch.png">
		<link rel="icon" href="http://atintell.com/wp-content/themes/appliancetec/favicon.png">
		<!--[if IE]>
			<link rel="shortcut icon" href="http://atintell.com/wp-content/themes/appliancetec/favicon.ico">
		<![endif]-->
				<meta name="msapplication-TileColor" content="#f01d4f">
		<meta name="msapplication-TileImage" content="http://atintell.com/wp-content/themes/appliancetec/library/images/win8-tile-icon.png">

		<link rel="pingback" href="http://atintell.com/xmlrpc.php">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js"></script>
		
		
<!-- This site is optimized with the Yoast SEO plugin v5.3.3 - https://yoast.com/wordpress/plugins/seo/ -->
<title>Appliance Maintenance &amp; Repair - Appliance Technology</title>
<link rel="canonical" href="http://atintell.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Appliance Maintenance &amp; Repair - Appliance Technology" />
<meta property="og:description" content="Appliance Technology offers a broad range of appliance maintenance services to domestic and commercial clients. Our large workshop, located in Preston, Lancashire, allows us to carryout appliance rework tasks for rental and leasing companies nationwide. Specialist testing equipment and professional facilities enable us to evaluate electrical products and white goods on behalf of major retailers....  Read more &raquo;" />
<meta property="og:url" content="http://atintell.com/" />
<meta property="og:site_name" content="Appliance Technology" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/atintell.com\/","name":"Appliance Technology","potentialAction":{"@type":"SearchAction","target":"http:\/\/atintell.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Appliance Technology &raquo; Feed" href="http://atintell.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Appliance Technology &raquo; Comments Feed" href="http://atintell.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Appliance Technology &raquo; Appliance Maintenance &#038; Repair Comments Feed" href="http://atintell.com/about/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/atintell.com\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

<!--[if lt IE 9]>
<link rel='stylesheet' id='bones-ie-only-css'  href='http://atintell.com/wp-content/themes/appliancetec/library/css/ie.css' type='text/css' media='all' />
<![endif]-->
<!-- <script type="text/javascript" src="http://atintell.com/wp-content/cache/minify/fa053.js"></script>
 -->




<link rel='https://api.w.org/' href='http://atintell.com/wp-json/' />
<link rel='shortlink' href='http://atintell.com/' />
<link rel="alternate" type="application/json+oembed" href="http://atintell.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fatintell.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://atintell.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fatintell.com%2F&#038;format=xml" />
<script type="text/javascript">
(function(url){
	if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){ return; }
	var addEvent = function(evt, handler) {
		if (window.addEventListener) {
			document.addEventListener(evt, handler, false);
		} else if (window.attachEvent) {
			document.attachEvent('on' + evt, handler);
		}
	};
	var removeEvent = function(evt, handler) {
		if (window.removeEventListener) {
			document.removeEventListener(evt, handler, false);
		} else if (window.detachEvent) {
			document.detachEvent('on' + evt, handler);
		}
	};
	var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
	var logHuman = function() {
		var wfscr = document.createElement('script');
		wfscr.type = 'text/javascript';
		wfscr.async = true;
		wfscr.src = url + '&r=' + Math.random();
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);
		for (var i = 0; i < evts.length; i++) {
			removeEvent(evts[i], logHuman);
		}
	};
	for (var i = 0; i < evts.length; i++) {
		addEvent(evts[i], logHuman);
	}
})('//atintell.com/?wordfence_lh=1&hid=F03644F758BE4EEEAF104E103AAADF7D');
</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-51302447-1', 'appliancetecltd.com');
		  ga('send', 'pageview');
		
		</script>
		
		<script type="text/javascript" src="//use.typekit.net/onu2fuu.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body class="home page-template-default page page-id-6">
        
		<div style="background-color: red!important;">

			<header class="header" role="banner">

				<div id="inner-header" class="wrap clearfix">
					
					<a id="logo" href="http://atintell.com" rel="nofollow"><img alt="Appliance Tec Limited" width="51" height="21" src="http://atintell.com/wp-content/themes/appliancetec/library/images/atl-logo.png" /></a>
					
					<span class="nav-icon"></span>
					
					<nav id="navigation" role="navigation">
						<ul id="menu-primary" class="nav top-nav clearfix"><li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="#about">About</a></li>
<li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52"><a href="#types-of-repair">Types of Repair</a></li>
<li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="#appliance-rework">Appliance Rework</a></li>
<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="#product-evaluation">Product Evaluation / Testing</a></li>
<li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a href="#appliance-suppliers">Appliance Suppliers</a></li>
<li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a href="#maintenance-contracts">Maintenance Contracts</a></li>
<li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48"><a href="#contact">Contact Us</a></li>
</ul>					</nav>

				</div>

			</header>

			<div id="content-wrapper" class="wrap">
				
				<section id="welcome" class="scroll-section clearfix">
					<img class="welcome-logo" alt="Appliance Technology" width="232" height="143" src="http://atintell.com/wp-content/themes/appliancetec/library/images/atl-logo-large.png" />
					<h2><span>Welcome</span></h2>
					<h4><span>Please Scroll Down</span></h4>
					<span class="dash-bottom"></span>
				</section>
			
				<span class="pin-trigger"></span>
				
				<div id="pin-outer" class="clearfix">
					<div id="pin-inner" class="clearfix">
						<section id="about" class="scroll-section clearfix">
															
								<h1><span>NSDS Technology</span></h1>
								<div class="content-box clearfix">
									<p>Appliance Technology offers a broad range of appliance maintenance services to domestic and commercial clients. Our large workshop, located in Preston, Lancashire, allows us to carryout appliance rework tasks for rental and leasing companies nationwide. Specialist testing equipment and professional facilities enable us to evaluate electrical products and white goods on behalf of major retailers. With a 30-strong team of specialist engineers we are trusted suppliers of appliance maintenance contracts to companies and organisations across a range of sectors.</p>
									<div class="fact fact-left">
										<h4 class="fact-value">15</h4>
										<h4>Repairs Every Hour</h4>
									</div>
								</div>
								<div class="testimonial">
									<span class="speech-open"></span>
									<p>Appliance Technology Limited is paramount to us being able to provide our customers with quality, own-brand electrical and white goods, and therefore principle to maintaining our excellent reputation. <strong>Highstreet Retailer</strong></p>
									<span class="speech-close"></span>
								</div>
								<span class="dash-bottom"></span>
								<span class="dash-right"></span>
								
																				</section>
						
						<section id="types-of-repair" class="scroll-section clearfix">
							
							<div class="product-wrap-outer">
								<div class="product-wrap clearfix">
																		           
												<div class="product-box">
													<h3><span>Laundry Utilities</span></h3>
													<p><span>At AT we service, rework, maintain and evaluate laundry utilities for commercial clients and on behalf of highstreet retailers and third party suppliers. This includes everything from industrial washing machines to domestic condenser tumble dryers.</span></p>
													<img width="265" height="430" src="/assets/1280x720-P4j.jpg" alt="Washing Machine Repair" srcset="" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				           
												<div class="product-box">
													<h3><span>Home Entertainment</span></h3>
													<p><span>Appliance Technology has the specialist capabilities to help you maintain your home entertainment systems, including televisions, video projectors, surround sound systems and game consoles. Whether you're looking for your hotel's entertainment equipment to be serviced and maintained a one-off repair, AT can help.</span></p>
													<img width="265" height="430" src="http://atintell.com/wp-content/uploads/2014/03/tv.png" class="attachment-product-image size-product-image wp-post-image" alt="TV Repair" srcset="http://atintell.com/wp-content/uploads/2014/03/tv.png 265w, http://atintell.com/wp-content/uploads/2014/03/tv-184x300.png 184w" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				           
												<div class="product-box">
													<h3><span>Kitchen Appliances</span></h3>
													<p><span>We have the capabilities to service and maintain all manner of commercial and domestic kitchen appliances, from gas and electric cookers and ovens, extractors and microwaves, to fridges, freezers and chilled cabinets.</span></p>
													<img width="265" height="430" src="http://atintell.com/wp-content/uploads/2014/03/cooker.png" class="attachment-product-image size-product-image wp-post-image" alt="Kitchen Appliance Repair" srcset="http://atintell.com/wp-content/uploads/2014/03/cooker.png 265w, http://atintell.com/wp-content/uploads/2014/03/cooker-184x300.png 184w" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				           
												<div class="product-box">
													<h3><span>Mobile Devices</span></h3>
													<p><span>From contractual maintenance to servicing and testing, Appliance Technology has the technical ability and specialist skills required to repair mobile devices such as tablets and smartphones, as well as other specialist IT equipment.</span></p>
													<img width="265" height="430" src="http://atintell.com/wp-content/uploads/2014/03/mobile-devices.png" class="attachment-product-image size-product-image wp-post-image" alt="Mobile &amp; Tablet Repair" srcset="http://atintell.com/wp-content/uploads/2014/03/mobile-devices.png 265w, http://atintell.com/wp-content/uploads/2014/03/mobile-devices-184x300.png 184w" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				           
												<div class="product-box">
													<h3><span>Garden Machinery</span></h3>
													<p><span>AT is equipped to repair and service a range of motorised and electrical garden machinery, including lawn mowers and strimmers. We offer tailored appliance maintenance contracts, suitable for businesses and professionals that rely on their garden machinery for their trade.</span></p>
													<img width="265" height="430" src="http://atintell.com/wp-content/uploads/2014/03/lawnmower.png" class="attachment-product-image size-product-image wp-post-image" alt="Lawnmower Repair" srcset="http://atintell.com/wp-content/uploads/2014/03/lawnmower.png 265w, http://atintell.com/wp-content/uploads/2014/03/lawnmower-184x300.png 184w" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				           
												<div class="product-box">
													<h3><span>Other Electricals</span></h3>
													<p><span>At AT our knowledge and experience spans across a diverse range of electrical equipment. Our expert team has the capacity to service, repair, maintenance or test of any piece of electrical equipment, regardless of the make or model. Why not give us a try?</span></p>
													<img width="265" height="430" src="http://atintell.com/wp-content/uploads/2014/03/other-electrical.png" class="attachment-product-image size-product-image wp-post-image" alt="Electrical Repair" srcset="http://atintell.com/wp-content/uploads/2014/03/other-electrical.png 265w, http://atintell.com/wp-content/uploads/2014/03/other-electrical-184x300.png 184w" sizes="(max-width: 265px) 100vw, 265px" />												</div>
																				<span class="swipe-icon"></span>
								</div>
							</div>
							<span class="dash-bottom"></span>
							
						</section>
						
						<section id="appliance-rework" class="scroll-section clearfix">
															
								<h2><span>Appliance Rework</span></h2>
								
								<div class="content-box clearfix">
									<p>With thousands of appliance and white goods being rented each week by domestic and commercial clients, Appliance Technology are trusted by a number of leasing companies to ensure that their appliances are thoroughly serviced and maintained between contracts. We carry out this appliance rework and appliance refurbishment at the ATL workshop, testing all aspects of the appliance to ensure they are standards compliant, fully tested, clean, functional and safe.</p>
									<div class="fact fact-left">
										<h4 class="fact-value">120</h4>
										<h4>Products Fixed Everyday</h4>
									</div>
								</div>
								<div class="testimonial">
									<span class="speech-open"></span>
									<p>Appliance Technology's maintenance service helps me ensure that all the electrical equipment in my chain of hotels is fully functioning. They service everything, from guest entertainment facilities to the electrical cleaning equipment and garden maintenance tools. <strong>Hotellier</strong></p>
									<span class="speech-close"></span>
								</div>
								<span class="dash-bottom"></span>
								<span class="dash-left"></span>
								
													</section>
					</div>
				</div>
				
				<span class="pin-trigger2">
					<span class="dash-vert"></span>
				</span>
				
				<div id="pin-outer2" class="clearfix">
					<div id="pin-inner2" class="clearfix">
						<section id="product-evaluation" class="scroll-section clearfix">
															
								<h2><span>Product Evaluation</span></h2>
								
								<div class="content-box clearfix">
									<p>Appliance Technology are trusted by many of the UK&#8217;s largest highstreet retailers to evaluate sample appliances and white goods prior to committing to an order from the manufacturer. ATL carry out a number of rigorous appliance functionality tests and compliance checks, including assessing the overall quality, design and finish of the appliance. We then compile a detailed and impartial appliance report to enable to retailer to make an informed decision about their investment.</p>
									<div class="fact fact-left">
										<h4 class="fact-value">30</h4>
										<h4>Highly Trained Staff</h4>
									</div>
								</div>
								<div class="testimonial">
									<span class="speech-open"></span>
									<p>Our relationship with Appliance Technology is paramount to us being able to provide our customers with quality, own-brand electrical and white goods. <strong>Highstreet Retailer</strong></p>
									<span class="speech-close"></span>
								</div>
								<span class="dash-bottom"></span>
								<span class="dash-right"></span>
								
													</section>
						
						<section id="appliance-suppliers" class="scroll-section clearfix">
															
								<div class="suppliers-wrap-outer">
									<h2><span>Appliance Suppliers</span></h2>
									
									<div class="content-box clearfix">
										<p>In addition to the range of services we offer at Appliance Technology, we also stock a selection of appliances and white goods that are available to purchase. The range of electrical appliances on offer at ATL is constantly being renewed and all items are currently on display in our Preston workshop, which is open to the public throughout the week. If you are looking for an appliance in particular, please contact us and we will do our best to help you.</p>
										<div class="fact">
											<h4 class="fact-value">2600</h4>
											<h4>Repairs Each Month</h4>
										</div>
									</div>
									<div class="testimonial">
										<span class="speech-open"></span>
										<p>Appliance Technology's service helps me ensure that all the electrical equipment in my chain of hotels is fully functioning. <strong>Hotellier</strong></p>
										<span class="speech-close"></span>
									</div>
								</div>
								<div class="logo-wrap">
									<div class="logo-wrap-inner">
										<span class="grad-left"></span>
										<div id="logo-list"></div>
										<span class="grad-right"></span>
									</div>
								</div>
								<span class="dash-bottom"></span>
								
													</section>
						
						<section id="maintenance-contracts" class="scroll-section clearfix">
															
								<h2><span>Maintenance Contracts</span></h2>
								
								<div class="content-box clearfix">
									<p>Appliance Technology have the capabilities to offer appliance maintenance contracts to a range of industries and sectors. We offer bespoke contracts based on your needs and requirements, from IT equipment maintenance and servicing in schools and other educational settings, to washing machine maintenance in launderettes and dry cleaners.</p>
									<div class="fact">
										<h4 class="fact-value">31<span>,</span>200</h4>
										<h4>Repairs Every Year!</h4>
									</div>
								</div>
								<div class="testimonial">
									<span class="speech-open"></span>
									<p>Our relationship with Appliance Technology Limited is paramount to us being able to provide our customers with quality, own-brand electrical and white goods, and therefore principle to maintaining our excellent reputation. <strong>Highstreet Retailer</strong></p>
									<span class="speech-close"></span>
								</div>
								<span class="dash-bottom"></span>
								<span class="dash-left"></span>
								
													</section>
					</div>
				</div>
					
				<section id="contact" class="scroll-section clearfix">
					
					<span class="dash-top"></span>
					<div class="contact-inner clearfix">
													
							<h2><span>Contact Us</span></h2>
							
							
                <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_1' ><a id='gf_1' class='gform_anchor' ></a><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_1' id='gform_1'  action='/#gf_1'>
                        <div class='gform_body'><ul id='gform_fields_1' class='gform_fields top_label form_sublabel_below description_below'><li id='field_1_2' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' ><label class='gfield_label gfield_label_before_complex' for='input_1_2' >Name<span class='gfield_required'>*</span></label><div class='ginput_container ginput_container_name'>
                                    <input name='input_2' id='input_1_2' type='text' value='' class='large' tabindex='1'  aria-required="true" aria-invalid="false" />
                                </div></li><li id='field_1_3' class='gfield field_sublabel_below field_description_below gfield_visibility_visible' ><label class='gfield_label' for='input_1_3' >Company</label><div class='ginput_container ginput_container_text'><input name='input_3' id='input_1_3' type='text' value='' class='large'  tabindex='2'    aria-invalid="false" /></div></li><li id='field_1_4' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' ><label class='gfield_label' for='input_1_4' >Email<span class='gfield_required'>*</span></label><div class='ginput_container ginput_container_email'>
                            <input name='input_4' id='input_1_4' type='email' value='' class='large' tabindex='3'    aria-required="true" aria-invalid="false"/>
                        </div></li><li id='field_1_5' class='gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' ><label class='gfield_label' for='input_1_5' >Enquiry<span class='gfield_required'>*</span></label><div class='ginput_container ginput_container_textarea'><textarea name='input_5' id='input_1_5' class='textarea medium' tabindex='4'   aria-required="true" aria-invalid="false"   rows='10' cols='50'></textarea></div></li><li id='field_1_6' class='gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_' ><label class='gfield_label' for='input_1_6' >Comments</label><div class='ginput_container'><input name='input_6' id='input_1_6' type='text' value='' autocomplete='off'/></div><div class='gfield_description'>This field is for validation purposes and should be left unchanged.</div></li>
                            </ul></div>
        <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_1' class='gform_button button' value='Submit' tabindex='5' onclick='if(window["gf_submitting_1"]){return false;}  if( !jQuery("#gform_1")[0].checkValidity || jQuery("#gform_1")[0].checkValidity()){window["gf_submitting_1"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_1"]){return false;} if( !jQuery("#gform_1")[0].checkValidity || jQuery("#gform_1")[0].checkValidity()){window["gf_submitting_1"]=true;}  jQuery("#gform_1").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=1&amp;title=&amp;description=&amp;tabindex=1' />
            <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />
            
            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
            <input type='hidden' class='gform_hidden' name='state_1' value='WyJbXSIsIjIxNDZhZmU5OTc5OTg1YjU2YzQ1ZmM1NTg4ZmFkYjgwIl0=' />
            <input type='hidden' class='gform_hidden' name='gform_target_page_number_1' id='gform_target_page_number_1' value='0' />
            <input type='hidden' class='gform_hidden' name='gform_source_page_number_1' id='gform_source_page_number_1' value='1' />
            <input type='hidden' name='gform_field_values' value='' />
            
        </div>
                        </form>
                        </div>
                <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_1' id='gform_ajax_frame_1' title='Ajax Frame'>This iframe contains the logic required to handle Ajax powered Gravity Forms.</iframe>
                <script type='text/javascript'>jQuery(document).ready(function($){gformInitSpinner( 1, 'http://atintell.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery('#gform_ajax_frame_1').load( function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_1');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_1').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;if(is_form){jQuery('#gform_wrapper_1').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_1').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_1').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_1').offset().top); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_1').val();gformInitSpinner( 1, 'http://atintell.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery(document).trigger('gform_page_loaded', [1, current_page]);window['gf_submitting_1'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_1').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_1').offset().top);jQuery(document).trigger('gform_confirmation_loaded', [1]);window['gf_submitting_1'] = false;}, 50);}else{jQuery('#gform_1').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [1, current_page]);} );} );</script><script type='text/javascript'> if(typeof gf_global == 'undefined') var gf_global = {"gf_currency_config":{"name":"Pound Sterling","symbol_left":"&#163;","symbol_right":"","symbol_padding":" ","thousand_separator":",","decimal_separator":".","decimals":2},"base_url":"http:\/\/atintell.com\/wp-content\/plugins\/gravityforms","number_formats":[],"spinnerUrl":"http:\/\/atintell.com\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"};jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 1) {} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );</script><script type='text/javascript'> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [1, 1]) } ); </script>							
							<div class="content-box clearfix">
								<p>Unit 2<br />
Wellfield Business Park<br />
Wellfield Road Preston<br />
PR1 8SZ</p>
<p><a style="display: block; margin: 15px 0;" href="mailto:enquiries@appliancetecltd.com">enquiries@appliancetecltd.com</a></p>
<p><strong>Tel:</strong> 01772 880200<br />
<strong>Mob:</strong> 07980 687878<br />
<strong>Fax:</strong> 05603 445544</p>
							</div>
							
											</div>
					
				</section>

			</div>
			
			<div class="scroll-bg bg-initial"></div>
			<div class="scroll-bg bg1"></div>
			<div class="scroll-bg bg1-fade"></div>
			<div class="scroll-bg bg2"></div>
			<div class="scroll-bg bg2-fade"></div>
			<div class="scroll-bg bg3"></div>
			<div class="scroll-bg bg3-fade"></div>

			<footer class="footer" role="contentinfo">

				<div id="inner-footer" class="wrap clearfix">

					<nav role="navigation">
							<ul id="menu-footer" class="nav footer-nav clearfix"><li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-73"><a href="http://atintell.com/">Appliance Technology</a></li>
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51"><a href="http://atintell.com/privacy-cookies/">Privacy &#038; Cookies</a></li>
</ul>					</nav>

					<p class="source-org copyright">&copy; 2018 Appliance Technology. Website by 2am Media, <a target="_blank" href="http://2ammedia.co.uk">Web Design Preston</a>.</p>

				</div>

			</footer>

		</div>

				






<!-- <script type="text/javascript" src="http://atintell.com/wp-content/cache/minify/ec71f.js"></script>
 -->

	</body>

</html>

<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 1267/1413 objects using disk
Page Caching using disk: enhanced
Minified using disk
Database Caching using disk

 Served from: atintell.com @ 2018-01-13 05:52:54 by W3 Total Cache -->